<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <title>FireGas Detector</title>
</head>
<body>
  <header class="app-bar">
    <div class="app-bar__brand">
      <img src="./favicon.png" alt="Logo">
      <h1>FIREGAS DETECTOR</h1>
    </div>
    <!-- <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div> -->
  </header>
  <main id="mainContent">

  </main>
  <footer>

  </footer>
  <nav>
    <div class="navbar-container">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#/home"><img src="./home.png" alt=""></a>
        </li>
        <li class="nav-item">
          <a href="#/chart"><img src="./chart.png" alt=""></a>
        </li>
        <li class="nav-item">
          <a href="#/about"><img src="./about.png" alt=""></a>
        </li>
      </ul>
    </div>
  </nav>
</body>
</html>